body {
    background: linear-gradient(rgba(0, 0, 0, .3),  rgba(0, 0, 0, .3)),  url(/storage/images/background.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: #fff;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    margin:20px 0 0 0;
    .tab-label {
        color: White;
        /* background: LightGray; */
        font-weight: bold;
        white-space: nowrap;
        text-align: center;
        padding: 10px .5em;
        order: -1;
        position: relative;
        z-index: 1;
        cursor: pointer;
        /* border-radius: 5px 5px 0 0; */
        flex: 1;
        margin-bottom: 0px;
    }
    .tab-label:not(:last-of-type) {
        margin-right: 5px;
    }
    .tab-content {
        width: 100%;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
    .tab-switch:checked+.tab-label {
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(221,0,0,1) 50%, rgba(255,207,0,1) 100%);
    }
    .tab-switch:checked+.tab-label+.tab-content {
        height: auto;
        overflow: auto;
        padding: 15px;
        opacity: 1;
        transition: .5s opacity;
    }
    .tab-switch {
        display: none;
    }
}
.menu:after {
    content: '';
    width: 100%;
    height: 3px;
    background: red;
    border-bottom: 3px solid #c21500;
    border-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(221,0,0,1) 50%, rgba(255,207,0,1) 100%); 
    border-image-slice: 1;
    display: block;
    order: -1;
}
footer {
    background-color: #000;
    width:100%;
    padding-bottom: 70px;
    .footer {
        display: flex;
        width:70%;
        margin: 0px auto;
        padding-top: 20px;
    }
    .tab-label {
        color: White;
        font-weight: bold;
        white-space: nowrap;
        text-align: center;
        padding: 10px .5em;
        order: -1;
        position: relative;
        z-index: 1;
        cursor: pointer;
        flex: 1;
    }
    .tab-switch {
        display: none;
    }
}
@media screen and (max-width: 768px) {
	/* 768px以下に適用されるCSS（スマホ用） */
    .menu {
        .tab-label {
            font-size: 0.9em;
        }
        .tab-switch:checked+.tab-label+.tab-content {
            padding: 5px;
        }
    }
    footer {
        .footer {
            display: flex;
            width:initial;
        }
        .tab-label {
            font-size: 0.8em;
        }
    }
}