.matches {
    h2 {
        text-align:center;
        font-size:1.5em;
        margin: 20px 0px 0px 0px;
    }
    table {
        margin: 30px auto 0px auto;
        tbody {
            border:solid 1px #fff;
            box-shadow: 0px 0px 5px 3px rgba(255,255,255,1.0);
            .row {
                margin-right: 0px;
                margin-left: 0px;
                justify-content: center;
                    align-items: center;
            }
            tr {
                border-bottom:solid 1px #fff;
                background-color: rgba(0,0,0,0.6);
                .logo { 
                    width:200px;
                    text-align: center;
                    padding: 10px;
                    img {
                        width:70px;
                    }
                }
                .score {
                    width:50px;
                    font-size:3em;
                    text-align: center;
                    padding: 10px;
                }
                .date {
                    text-align: center;
                    padding: 10px;
                }
                .bar {
                    font-size:2em;
                }
            }
        }
    }
    .more_button {
        background-color: transparent;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(221,0,0,1) 50%, rgba(255,207,0,1) 100%);
        border: none;
        cursor: pointer;
        outline: none;
        padding: 10px;
        color:#fff;
        appearance: none;
        width:50%;
        text-align: center;
        margin: 20px auto;
        display: block;
    }
}
@media screen and (max-width: 768px) {
	/* 768px以下に適用されるCSS（スマホ用） */
    .matches {
        table {
            tbody {
                tr {
                    .logo { 
                        width:30%;
                        text-align: center;
                        padding: 5px;
                        font-size: 0.8em;
                        img {
                            width:50%;
                        }
                    }
                    .score {
                        width:20%;
                        font-size:2.5em;
                        text-align: center;
                        vertical-align: middle;
                        padding: 5px;
                    }
                    .date {
                        text-align: center;
                        padding: 5px;
                        font-size: 0.8em;
                    }
                    .bar {
                        font-size:2em;
                    }
                }
            }
        }
    }
}