body {
  color: #000;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .image img {
  width: 100%;
}

.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .title h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .body {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

#wrap {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#slider {
  width: 300px;
  margin: 0 auto 30px;
}

.slide-item img {
  width: 100%;
}

#thumbnail-list {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnail-item {
  flex: 0 1 30%;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
}

.thumbnail-item:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.3s opacity linear;
}

.thumbnail-item.thumbnail-current:after {
  opacity: 0;
}

.thumbnail-item img {
  width: 100%;
  margin: 0 auto;
}

